In [54]:
#Load libraries for analysis 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly
import plotly.express as px
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode
import plotly.figure_factory as ff
from plotly import subplots
from plotly.subplots import make_subplots

In [60]:
#Load the dataset

nba_df = pd.read_excel("./Resource/NBA All Star Games (1).xlsx")
nba_df.head()

,Year,Player,Pos,HT,HT.1,WT,Team,Selection Type,NBA Draft Status,Nationality
0,2016,Stephen Curry,G,6'3,2017-06-03 00:00:00,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States
1,2016,James Harden,SG,6'5,2017-06-05 00:00:00,220,Houston Rockets,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 3,United States
2,2016,Kevin Durant,SF,6'9,2017-06-09 00:00:00,240,Golden State Warriors,Western All-Star Fan Vote Selection,2007 Rnd 1 Pick 2,United States
3,2016,Kawhi Leonard,F,6'7,2017-06-07 00:00:00,230,San Antonio Spurs,Western All-Star Fan Vote Selection,2011 Rnd 1 Pick 15,United States
4,2016,Anthony Davis,PF,6'11,2017-06-11 00:00:00,253,New Orleans Pelicans,Western All-Star Fan Vote Selection,2012 Rnd 1 Pick 1,United States

In [62]:
#Drop HT.1 Column since it renders as date and not height

nba_clean = nba_df.drop(['HT.1'], axis= 1)
nba_clean.head()

,Year,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status,Nationality
0,2016,Stephen Curry,G,6'3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States
1,2016,James Harden,SG,6'5,220,Houston Rockets,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 3,United States
2,2016,Kevin Durant,SF,6'9,240,Golden State Warriors,Western All-Star Fan Vote Selection,2007 Rnd 1 Pick 2,United States
3,2016,Kawhi Leonard,F,6'7,230,San Antonio Spurs,Western All-Star Fan Vote Selection,2011 Rnd 1 Pick 15,United States
4,2016,Anthony Davis,PF,6'11,253,New Orleans Pelicans,Western All-Star Fan Vote Selection,2012 Rnd 1 Pick 1,United States

In [56]:
#Check number of records 

len(nba_df)

439

In [57]:
#Examine data types of each column
nba_df.dtypes

nba_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 10 columns):
Year                439 non-null int64
Player              439 non-null object
Pos                 439 non-null object
HT                  439 non-null object
HT.1                439 non-null object
WT                  439 non-null int64
Team                439 non-null object
Selection Type      439 non-null object
NBA Draft Status    439 non-null object
Nationality         439 non-null object
dtypes: int64(2), object(8)
memory usage: 34.4+ KB

In [47]:
#Check for null values 
nba_df.isnull().sum()

Year                0
Player              0
Pos                 0
HT                  0
WT                  0
Team                0
Selection Type      0
NBA Draft Status    0
Nationality         0
dtype: int64